<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699876456061-di8uee8cpc6sjk8ciirdurcvi5bbklm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699876456061-di8uee8cpc6sjk8ciirdurcvi5bbklm5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699876456061-kgnsh7daf3eli5jdh0p9afo6ekof897n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqMtszimNMP_TQ4wMVxeatEAigwfYY3n0</string>
	<key>GCM_SENDER_ID</key>
	<string>699876456061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santosh.flashChat</string>
	<key>PROJECT_ID</key>
	<string>fir-learn-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learn-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699876456061:ios:e8fd3c82609746f191a314</string>
	<key>DATABASE_URL</key>
	<string>https://fir-learn-ios.firebaseio.com</string>
</dict>
</plist>